################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetCoreDriver/ExampleConsoleApp-ReadValues/obj
/DotNetCoreDriver/.vs/DL24Driver/v16
/DotNetCoreDriver/DL24Driver/bin/Debug/netstandard2.0
/DotNetCoreDriver/DL24Driver/obj
